<section class="flex justify-between items-center bg-gray-200 p-4">
    <div class="flex items-center">
      <h1 class="text-2xl font-bold">Novedades</h1>
    </div>
    <div class="flex items-center">
      <a href="https://www.facebook.com/UEFDB/" target="_blank">
        <img src="https://static.vecteezy.com/system/resources/previews/018/930/476/non_2x/facebook-logo-facebook-icon-transparent-free-png.png" alt="Facebook" class="w-6 h-6 mr-2">
      </a>
      <a href="https://www.twitter.com" target="_blank">
        <img src="https://img.freepik.com/vector-premium/nuevo-logotipo-twitter-x-2023-descarga-vector-oficial-logotipo-twitter-x_691560-10797.jpg" alt="Twitter" class="w-6 h-6">
      </a>
      <span class="ml-4 text-gray-500 text-sm ">{{ fechaActual }}</span>
    </div>
</section>
<br>
<section class="flex justify-center items-center" >
    <img src="https://donboscomacas.edu.ec/images/demo/logo44.jpg">
    <img src="https://donboscomacas.edu.ec/images/banners/adv-banner1.png">
</section>
<br>