<section class="flex justify-between gap-4">
    <div>
        <h3>ULTIMAS NOTICIAS</h3>
        <img src="https://donboscomacas.edu.ec/media/k2/items/cache/e36a512fe5b90101a88ae780e05256f8_M.jpg" alt="Nomina de estudiantes">
        <h1>NÓMINA DE ESTUDIANTES CON CUPO INICIAL II a 3° BACHILLERATO</h1>
    </div>
    <div>
        <h3>MAS POPULARES</h3>
        <img src="https://donboscomacas.edu.ec/media/k2/items/cache/948378d6a67ac0d7c7c6728581b072ab_M.jpg" alt="Ceremonia de graduacion">
        <h1>CEREMONIA DE GRADUACIÓN DE INICIAL 2</h1>
        <h2>Ceremonia de graduación de los niños de Inicial 2</h2>
    </div>
    <div>
        <h3>EX ALUMNO </h3>
        <img src="https://donboscomacas.edu.ec/media/k2/items/cache/73608782f50eb6af17bb69bdcd662692_M.jpg" alt="Abanderada 2003">
        <h1>ABANDERADA 2003</h1>
        <p>Abanderada 2003, Jhenifer Chacón y sus compañeros de 5º QQBB — con Andrea Zeas González, Gabby BlackMount, Heidi Martínez,Jennifer Chacon, Gomez Josimar, Cristina Veloz Velin y Pao Palacios Jaramillo.</p>
    </div>
</section>
<br>
