<nav class="flex justify-center bg-gray-800 relative">
    <ul class="flex space-x-4 " >
      <li class="bg-blue-500 text-white px-4 py-2 "><a href="http://localhost:4200/">Inicio</a></li>
      <li class="bg-gray-800 text-white px-4 py-2 group ">
        Institucion
        <ul class="hidden group-hover:block absolute bg-gray-800 text-white mt-2 ">
          <li class="px-4 py-2">Mision</li>
          <li class="px-4 py-2">Vision</li>
          <li class="px-4 py-2">Ideario</li>
          <li class="px-4 py-2">Filosofia</li>
          <li class="px-4 py-2">Modelo Pedagogico</li>
        </ul>
      </li>
      <li class="bg-gray-800 text-white px-4 py-2 group">
        P. Educativo
        <ul class="hidden group-hover:block absolute bg-gray-800 text-white mt-2">
          <li class="px-4 py-2">Valores</li>
          <li class="px-4 py-2">Antecedentes</li>
          <li class="px-4 py-2">Rese. Historica</li>
        </ul>
      </li>
      <li class="bg-gray-800 text-white px-4 py-2 group">
        Comunidad
        <ul class="hidden group-hover:block absolute bg-gray-800 text-white mt-2">
          <li class="px-4 py-2">Personal Salesiano</li>
          <li class="px-4 py-2">Autoridades</li>
          <li class="px-4 py-2">Personal</li>
        </ul>
      </li>
      <li class="bg-gray-800 text-white px-4 py-2 group">
        Oferta Academica
        <ul class="hidden group-hover:block absolute bg-gray-800 text-white mt-2">
          <li class="px-4 py-2">Educacion general basica</li>
          <li class="px-4 py-2">Bachillerato general unificado</li>
        </ul>
      </li>
      <li class="bg-gray-800 text-white px-4 py-2 group">
        Doc. Matricula
        <ul class="hidden group-hover:block absolute bg-gray-800 text-white mt-2">
          <li class="px-4 py-2">Subopción 1</li>
          <li class="px-4 py-2">Subopción 2</li>
          <li class="px-4 py-2">Subopción 3</li>
        </ul>
      </li>
      <li class="bg-gray-800 text-white px-4 py-2 group">
        Recursos Pedagogicos
        <ul class="hidden group-hover:block absolute bg-gray-800 text-white mt-2">
          <li class="px-4 py-2">Subopción 1</li>
          <li class="px-4 py-2">Subopción 2</li>
          <li class="px-4 py-2">Subopción 3</li>
        </ul>
      </li>
      <li class="bg-gray-800 text-white px-4 py-2 group">
        Contacto
        <ul class="hidden group-hover:block absolute bg-gray-800 text-white mt-2">
          <li class="px-4 py-2">Subopción 1</li>
          <li class="px-4 py-2">Subopción 2</li>
          <li class="px-4 py-2">Subopción 3</li>
        </ul>
     </li>
      <li class="bg-gray-800 text-white px-4 py-2 group">
        Servicios
        <ul class="hidden group-hover:block absolute bg-gray-800 text-white mt-2">
          <li class="px-4 py-2">Subopción 1</li>
          <li class="px-4 py-2">Subopción 2</li>
          <li class="px-4 py-2">Subopción 3</li>
        </ul>
      </li>
    </ul>
  </nav>

  
