<div class="grid grid-cols-3 gap-8 p-2 w-4/5 mx-auto">
    <div class="col-span-1 row-span-2">
        <img src="https://donboscomacas.edu.ec/media/k2/items/cache/211fb1d06f9479a7650fc3bb47b93c8b_L.jpg" alt="" loading="lazy" class="w-full h-full object-cover transition-transform transform hover:scale-105">
    </div>

    <div class="col-start-2 col-span-2 row-span-1">
      <img src="https://donboscomacas.edu.ec/media/k2/items/cache/78d607068cd064420401737e12f83bae_L.jpg" alt="" loading="lazy" class="w-full h-full object-cover transition-transform transform hover:scale-105">
    </div>

    <div class=" row-start-2 col-start-2 col-span-1">
      <img src="https://donboscomacas.edu.ec/media/k2/items/cache/2a14beb1aee2d71c6fecb12f25c690f7_L.jpg" alt="" loading="lazy" class="w-full h-full object-cover transition-transform transform hover:scale-105">
    </div>

    <div class="col-span-1">
      <img src="https://donboscomacas.edu.ec/media/k2/items/cache/398a8bc2e3f7f879ff0986359513be80_L.jpg" alt="" loading="lazy" class="w-full h-full object-cover transition-transform transform hover:scale-105">
    </div>

</div>
<br>